In [38]:
import glob
import pandas as pd
import numpy as np

# Reading the data

In [39]:
raw_path = '../data/raw/'
files = glob.glob(raw_path + "/*.xlsx")

In [40]:
df_list = (pd.read_excel(file, header=2) for file in files)
df = pd.concat(df_list, ignore_index=True)

/Users/vasileiosvyzas/miniconda3/envs/carbonchain_env/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/vasileiosvyzas/miniconda3/envs/carbonchain_env/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/vasileiosvyzas/miniconda3/envs/carbonchain_env/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/vasileiosvyzas/miniconda3/envs/carbonchain_env/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [41]:
df.head()

,IMO Number,Name,Ship type,Reporting Period,Technical efficiency,Port of Registry,Home Port,Ice Class,DoC issue date,DoC expiry date,...,CO₂ emissions per distance on laden voyages [kg CO₂ / n mile],CO₂ emissions per transport work (mass) on laden voyages [g CO₂ / m tonnes · n miles],CO₂ emissions per transport work (volume) on laden voyages [g CO₂ / m³ · n miles],CO₂ emissions per transport work (dwt) on laden voyages [g CO₂ / dwt carried · n miles],CO₂ emissions per transport work (pax) on laden voyages [g CO₂ / pax · n miles],CO₂ emissions per transport work (freight) on laden voyages [g CO₂ / m tonnes · n miles],Additional information to facilitate the understanding of the reported average operational energy efficiency indicators,Average density of the cargo transported [m tonnes / m³],Annual Total time spent at sea [hours],Total time spent at sea [hours]
0,6602898,OCEAN MAJESTY,Passenger ship,2020,EIV (31.73 gCO₂/t·nm),Madeira,NaN,NaN,01/07/2021,30/06/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6703343,EQUALITY,Other ship types,2020,EIV (57.84 gCO₂/t·nm),Beirut,NaN,NaN,30/06/2021,30/06/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7037806,IONIAN STAR,Ro-pax ship,2020,EIV (19.4 gCO₂/t·nm),NaN,NaN,NaN,31/03/2021,30/06/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7043843,TALOS,Ro-ro ship,2020,EIV (48.71 gCO₂/t·nm),Piraeus,Piraeus,NaN,16/06/2021,30/06/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7128332,SEA WIND,Ro-pax ship,2020,EIV (9.29 gCO₂/t·nm),Tallinn,Tallinn,IB,26/04/2021,30/06/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df.shape

(48960, 63)

In [6]:
df.to_csv('../data/interim/ship_emissions_tracker_2018_2021.csv', index=False)

# Checking for missing values

In [45]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})

In [50]:
missing_value_df.sort_values('percent_missing',ascending=False).head(30)

,column_name,percent_missing
CO₂ emissions per transport work (freight) on laden voyages [g CO₂ / m tonnes · n miles],CO₂ emissions per transport work (freight) on ...,100.000000
Fuel consumption per transport work (freight) on laden voyages [g / m tonnes · n miles],Fuel consumption per transport work (freight) ...,100.000000
Average density of the cargo transported [m tonnes / m³],Average density of the cargo transported [m to...,99.989788
D,D,99.987745
Fuel consumption per transport work (pax) on laden voyages [g / pax · n miles],Fuel consumption per transport work (pax) on l...,99.965278
CO₂ emissions per transport work (pax) on laden voyages [g CO₂ / pax · n miles],CO₂ emissions per transport work (pax) on lade...,99.965278
Additional information to facilitate the understanding of the reported average operational energy efficiency indicators,Additional information to facilitate the under...,99.805964
Fuel consumption per transport work (volume) on laden voyages [g / m³ · n miles],Fuel consumption per transport work (volume) o...,99.595588
CO₂ emissions per transport work (volume) on laden voyages [g CO₂ / m³ · n miles],CO₂ emissions per transport work (volume) on l...,99.595588
Fuel consumption per transport work (dwt) on laden voyages [g / dwt carried · n miles],Fuel consumption per transport work (dwt) on l...,99.040033
CO₂ emissions per transport work (dwt) on laden voyages [g CO₂ / dwt carried · n miles],CO₂ emissions per transport work (dwt) on lade...,99.040033
Annual average CO₂ emissions per transport work (volume) [g CO₂ / m³ · n miles],Annual average CO₂ emissions per transport wor...,97.346814
Annual average Fuel consumption per transport work (volume) [g / m³ · n miles],Annual average Fuel consumption per transport ...,97.346814
CO₂ emissions assigned to Freight transport [m tonnes],CO₂ emissions assigned to Freight transport [m...,96.895425
CO₂ emissions assigned to Passenger transport [m tonnes],CO₂ emissions assigned to Passenger transport ...,96.854575
Annual average Fuel consumption per transport work (freight) [g / m tonnes · n miles],Annual average Fuel consumption per transport ...,96.846405
Annual average CO₂ emissions per transport work (freight) [g CO₂ / m tonnes · n miles],Annual average CO₂ emissions per transport wor...,96.846405
Annual average CO₂ emissions per transport work (pax) [g CO₂ / pax · n miles],Annual average CO₂ emissions per transport wor...,95.671977
Annual average Fuel consumption per transport work (pax) [g / pax · n miles],Annual average Fuel consumption per transport ...,95.671977
Total time spent at sea through ice [hours],Total time spent at sea through ice [hours],94.172794
Through ice [n miles],Through ice [n miles],94.172794
CO₂ emissions per transport work (mass) on laden voyages [g CO₂ / m tonnes · n miles],CO₂ emissions per transport work (mass) on lad...,88.504902
Fuel consumption per transport work (mass) on laden voyages [g / m tonnes · n miles],Fuel consumption per transport work (mass) on ...,88.504902
Annual average Fuel consumption per transport work (dwt) [g / dwt carried · n miles],Annual average Fuel consumption per transport ...,88.325163
Annual average CO₂ emissions per transport work (dwt) [g CO₂ / dwt carried · n miles],Annual average CO₂ emissions per transport wor...,88.325163
Fuel consumptions assigned to On laden [m tonnes],Fuel consumptions assigned to On laden [m tonnes],88.055556
CO₂ emissions per distance on laden voyages [kg CO₂ / n mile],CO₂ emissions per distance on laden voyages [k...,88.049428
Fuel consumption per distance on laden voyages [kg / n mile],Fuel consumption per distance on laden voyages...,88.049428
CO₂ emissions assigned to On laden [m tonnes],CO₂ emissions assigned to On laden [m tonnes],88.049428
Ice Class,Ice Class,82.771650

It seems that out of the 63 columns in the data, there are about 30 columns with high percentage of missing values. I am not clear why there are so many missing values, is it a reporting issue or is it a legitimate reason that there are no values of these metrics? I am not sure how to deal with this yet and the importance of these columns but my first thought is to drop them. 

I guess depending on the use case of this dataset, we could try to impute these missing values or try to calculate them ourselves.

# Initial Data Checking

In [9]:
df['Reporting Period'].value_counts()

Reporting Period
2019    12399
2018    12256
2021    12255
2020    12050
Name: count, dtype: int64

In [10]:
df['Ship type'].value_counts(dropna=False)

Ship type
Bulk carrier                  14742
Oil tanker                     7701
Container ship                 7354
Chemical tanker                5469
General cargo ship             4921
Vehicle carrier                1801
Ro-pax ship                    1560
Gas carrier                    1335
LNG carrier                    1024
Ro-ro ship                     1016
Refrigerated cargo carrier      588
Other ship types                561
Passenger ship                  556
Container/ro-ro cargo ship      290
Combination carrier              42
Name: count, dtype: int64

In [19]:
df['Port of Registry'].value_counts(dropna=False)

Port of Registry
Monrovia             5182
Majuro               5064
NaN                  3777
Valletta             3122
Panama               2664
                     ...
Shang Hai               1
Fredericia              1
port louis              1
HONGKKONG               1
Saint -Petersburg       1
Name: count, Length: 725, dtype: int64

In [20]:
df['Total fuel consumption [m tonnes]'].value_counts()

Total fuel consumption [m tonnes]
0.00        1672
1352.00        6
503.00         5
904.00         5
228.00         4
            ...
2991.39        1
3171.44        1
13063.74       1
2870.05        1
1575.93        1
Name: count, Length: 44216, dtype: int64

In [54]:
df['Total fuel consumption [m tonnes]'].count()

48960

In [21]:
df['Total CO₂ emissions [m tonnes]'].value_counts()

Total CO₂ emissions [m tonnes]
0.00        1673
5871.53        3
8162.92        3
3583.50        3
2779.00        3
            ...
5357.94        1
4749.38        1
15440.84       1
1387.78        1
4920.05        1
Name: count, Length: 46673, dtype: int64

In [22]:
df['Total CO₂ emissions [m tonnes]'].count()

48960

In [53]:
df['Total time spent at sea [hours]'].value_counts()

Total time spent at sea [hours]
0.00       981
1493.00      6
2012.00      5
2660.00      5
2185.00      5
          ...
3932.40      1
5459.40      1
3170.20      1
2175.12      1
776.25       1
Name: count, Length: 21433, dtype: int64

In [52]:
df['Total time spent at sea [hours]'].describe()

count    2.465500e+04
mean     2.710072e+04
std      3.842835e+06
min      0.000000e+00
25%      1.095150e+03
50%      2.171700e+03
75%      3.938510e+03
max      6.034010e+08
Name: Total time spent at sea [hours], dtype: float64

In [25]:
df['Annual average Fuel consumption per distance [kg / n mile]'].value_counts()

Annual average Fuel consumption per distance [kg / n mile]
Division by zero!    1685
87.95                  14
88.31                  14
82.96                  14
80.45                  13
                     ...
78.51                   1
299.89                  1
150.8                   1
184.79                  1
123.55                  1
Name: count, Length: 18891, dtype: int64

In [26]:
df['Annual average Fuel consumption per distance [kg / n mile]'].count()

48960

In [28]:
df['Annual average Fuel consumption per transport work (mass) [g / m tonnes · n miles]'].value_counts()

Annual average Fuel consumption per transport work (mass) [g / m tonnes · n miles]
Division by zero!    3803
2.14                  112
1.95                  108
2.47                  108
2.75                  106
                     ...
72.01                   1
126.39                  1
31.13                   1
4712.84                 1
28079.73                1
Name: count, Length: 4602, dtype: int64

## Investigating the zero values for CO2 emissions and fuel consumption
If the values for these two is 0, does this mean that the vessels haven't travelled?

In [53]:
df[df['Total CO₂ emissions [m tonnes]'] == 0.00]['Ship type'].value_counts()

Ship type
Bulk carrier                  1070
Container ship                 172
Oil tanker                     168
Chemical tanker                 88
General cargo ship              79
Other ship types                39
Gas carrier                     16
Vehicle carrier                 14
Ro-pax ship                      8
LNG carrier                      6
Passenger ship                   5
Refrigerated cargo carrier       5
Ro-ro ship                       3
Name: count, dtype: int64

In [55]:
df[df['Total fuel consumption [m tonnes]'] == 0.00]['Ship type'].value_counts()

Ship type
Bulk carrier                  1069
Container ship                 172
Oil tanker                     168
Chemical tanker                 88
General cargo ship              79
Other ship types                39
Gas carrier                     16
Vehicle carrier                 14
Ro-pax ship                      8
LNG carrier                      6
Passenger ship                   5
Refrigerated cargo carrier       5
Ro-ro ship                       3
Name: count, dtype: int64

In [57]:
df[df['Total CO₂ emissions [m tonnes]'] == 0.00]['Annual Time spent at sea [hours]'].value_counts(dropna=False)

Annual Time spent at sea [hours]
NaN      976
0.0      696
415.6      1
Name: count, dtype: int64

In [58]:
df[df['Annual Time spent at sea [hours]'] == 0.00]['Ship type'].value_counts()

Ship type
Bulk carrier          488
Container ship         61
General cargo ship     42
Chemical tanker        34
Oil tanker             31
Other ship types       22
Ro-pax ship             9
Passenger ship          7
Vehicle carrier         5
Ro-ro ship              3
LNG carrier             3
Gas carrier             2
Name: count, dtype: int64