In [1]:
import glob
import pandas as pd
import numpy as np

# Reading the data

In [2]:
raw_path = '../data/raw/'
files = glob.glob(raw_path + "/*.xlsx")

In [3]:
df_list = (pd.read_excel(file, header=2) for file in files)
df = pd.concat(df_list, ignore_index=True)

/Users/vasileiosvyzas/miniconda3/envs/carbonchain_env/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/vasileiosvyzas/miniconda3/envs/carbonchain_env/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/vasileiosvyzas/miniconda3/envs/carbonchain_env/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/vasileiosvyzas/miniconda3/envs/carbonchain_env/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
df.head()

,IMO Number,Name,Ship type,Reporting Period,Technical efficiency,Port of Registry,Home Port,Ice Class,DoC issue date,DoC expiry date,...,CO₂ emissions per distance on laden voyages [kg CO₂ / n mile],CO₂ emissions per transport work (mass) on laden voyages [g CO₂ / m tonnes · n miles],CO₂ emissions per transport work (volume) on laden voyages [g CO₂ / m³ · n miles],CO₂ emissions per transport work (dwt) on laden voyages [g CO₂ / dwt carried · n miles],CO₂ emissions per transport work (pax) on laden voyages [g CO₂ / pax · n miles],CO₂ emissions per transport work (freight) on laden voyages [g CO₂ / m tonnes · n miles],Additional information to facilitate the understanding of the reported average operational energy efficiency indicators,Average density of the cargo transported [m tonnes / m³],Annual Total time spent at sea [hours],Total time spent at sea [hours]
0,6602898,OCEAN MAJESTY,Passenger ship,2020,EIV (31.73 gCO₂/t·nm),Madeira,NaN,NaN,01/07/2021,30/06/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6703343,EQUALITY,Other ship types,2020,EIV (57.84 gCO₂/t·nm),Beirut,NaN,NaN,30/06/2021,30/06/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7037806,IONIAN STAR,Ro-pax ship,2020,EIV (19.4 gCO₂/t·nm),NaN,NaN,NaN,31/03/2021,30/06/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7043843,TALOS,Ro-ro ship,2020,EIV (48.71 gCO₂/t·nm),Piraeus,Piraeus,NaN,16/06/2021,30/06/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7128332,SEA WIND,Ro-pax ship,2020,EIV (9.29 gCO₂/t·nm),Tallinn,Tallinn,IB,26/04/2021,30/06/2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(48960, 63)

In [6]:
df.to_csv('../data/interim/ship_emissions_tracker_2018_2021.csv', index=False)

# Checking for missing values

In [7]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})

In [8]:
missing_value_df.sort_values('percent_missing',ascending=False).head(30)

,column_name,percent_missing
CO₂ emissions per transport work (freight) on laden voyages [g CO₂ / m tonnes · n miles],CO₂ emissions per transport work (freight) on ...,100.000000
Fuel consumption per transport work (freight) on laden voyages [g / m tonnes · n miles],Fuel consumption per transport work (freight) ...,100.000000
Average density of the cargo transported [m tonnes / m³],Average density of the cargo transported [m to...,99.989788
D,D,99.987745
Fuel consumption per transport work (pax) on laden voyages [g / pax · n miles],Fuel consumption per transport work (pax) on l...,99.965278
CO₂ emissions per transport work (pax) on laden voyages [g CO₂ / pax · n miles],CO₂ emissions per transport work (pax) on lade...,99.965278
Additional information to facilitate the understanding of the reported average operational energy efficiency indicators,Additional information to facilitate the under...,99.805964
Fuel consumption per transport work (volume) on laden voyages [g / m³ · n miles],Fuel consumption per transport work (volume) o...,99.595588
CO₂ emissions per transport work (volume) on laden voyages [g CO₂ / m³ · n miles],CO₂ emissions per transport work (volume) on l...,99.595588
Fuel consumption per transport work (dwt) on laden voyages [g / dwt carried · n miles],Fuel consumption per transport work (dwt) on l...,99.040033
CO₂ emissions per transport work (dwt) on laden voyages [g CO₂ / dwt carried · n miles],CO₂ emissions per transport work (dwt) on lade...,99.040033
Annual average CO₂ emissions per transport work (volume) [g CO₂ / m³ · n miles],Annual average CO₂ emissions per transport wor...,97.346814
Annual average Fuel consumption per transport work (volume) [g / m³ · n miles],Annual average Fuel consumption per transport ...,97.346814
CO₂ emissions assigned to Freight transport [m tonnes],CO₂ emissions assigned to Freight transport [m...,96.895425
CO₂ emissions assigned to Passenger transport [m tonnes],CO₂ emissions assigned to Passenger transport ...,96.854575
Annual average Fuel consumption per transport work (freight) [g / m tonnes · n miles],Annual average Fuel consumption per transport ...,96.846405
Annual average CO₂ emissions per transport work (freight) [g CO₂ / m tonnes · n miles],Annual average CO₂ emissions per transport wor...,96.846405
Annual average CO₂ emissions per transport work (pax) [g CO₂ / pax · n miles],Annual average CO₂ emissions per transport wor...,95.671977
Annual average Fuel consumption per transport work (pax) [g / pax · n miles],Annual average Fuel consumption per transport ...,95.671977
Total time spent at sea through ice [hours],Total time spent at sea through ice [hours],94.172794
Through ice [n miles],Through ice [n miles],94.172794
CO₂ emissions per transport work (mass) on laden voyages [g CO₂ / m tonnes · n miles],CO₂ emissions per transport work (mass) on lad...,88.504902
Fuel consumption per transport work (mass) on laden voyages [g / m tonnes · n miles],Fuel consumption per transport work (mass) on ...,88.504902
Annual average Fuel consumption per transport work (dwt) [g / dwt carried · n miles],Annual average Fuel consumption per transport ...,88.325163
Annual average CO₂ emissions per transport work (dwt) [g CO₂ / dwt carried · n miles],Annual average CO₂ emissions per transport wor...,88.325163
Fuel consumptions assigned to On laden [m tonnes],Fuel consumptions assigned to On laden [m tonnes],88.055556
CO₂ emissions per distance on laden voyages [kg CO₂ / n mile],CO₂ emissions per distance on laden voyages [k...,88.049428
Fuel consumption per distance on laden voyages [kg / n mile],Fuel consumption per distance on laden voyages...,88.049428
CO₂ emissions assigned to On laden [m tonnes],CO₂ emissions assigned to On laden [m tonnes],88.049428
Ice Class,Ice Class,82.771650

It seems that out of the 63 columns in the data, there are more than 30 columns with high percentage of missing values. I am not clear why there are so many missing values, is it a reporting issue or is it a legitimate reason that there are no values of these metrics? I am not sure how to deal with this yet and the importance of these columns but my first thought is to drop them. 

I guess depending on the use case of this dataset, we could try to impute these missing values or try to calculate them ourselves.

In [42]:
missing_value_df.sort_values('percent_missing',ascending=True).head(30)

,column_name,percent_missing
IMO Number,IMO Number,0.000000
CO₂ emissions from all voyages which departed from ports under a MS jurisdiction [m tonnes],CO₂ emissions from all voyages which departed ...,0.000000
Total fuel consumption [m tonnes],Total fuel consumption [m tonnes],0.000000
CO₂ emissions from all voyages to ports under a MS jurisdiction [m tonnes],CO₂ emissions from all voyages to ports under ...,0.000000
CO₂ emissions which occurred within ports under a MS jurisdiction at berth [m tonnes],CO₂ emissions which occurred within ports unde...,0.000000
Annual average Fuel consumption per distance [kg / n mile],Annual average Fuel consumption per distance [...,0.000000
Verifier Country,Verifier Country,0.000000
Verifier Accreditation number,Verifier Accreditation number,0.000000
Verifier City,Verifier City,0.000000
Verifier Address,Verifier Address,0.000000
Total CO₂ emissions [m tonnes],Total CO₂ emissions [m tonnes],0.000000
Verifier NAB,Verifier NAB,0.000000
DoC expiry date,DoC expiry date,0.000000
DoC issue date,DoC issue date,0.000000
Annual average CO₂ emissions per distance [kg CO₂ / n mile],Annual average CO₂ emissions per distance [kg ...,0.000000
Reporting Period,Reporting Period,0.000000
Ship type,Ship type,0.000000
Name,Name,0.000000
Verifier Name,Verifier Name,0.000000
CO₂ emissions from all voyages between ports under a MS jurisdiction [m tonnes],CO₂ emissions from all voyages between ports u...,0.000000
Technical efficiency,Technical efficiency,3.466095
Port of Registry,Port of Registry,7.714461
Annual average Fuel consumption per transport work (mass) [g / m tonnes · n miles],Annual average Fuel consumption per transport ...,10.210376
Annual average CO₂ emissions per transport work (mass) [g CO₂ / m tonnes · n miles],Annual average CO₂ emissions per transport wor...,10.210376
Annual Total time spent at sea [hours],Annual Total time spent at sea [hours],49.642565
Total time spent at sea [hours],Total time spent at sea [hours],49.642565
Annual Time spent at sea [hours],Annual Time spent at sea [hours],50.357435
Time spent at sea [hours],Time spent at sea [hours],50.357435
A,A,53.553922
Verifier Number,Verifier Number,63.856209

In [10]:
df.shape

(48960, 63)

In [11]:
df.dropna(axis=1, how='all', inplace=True)

In [12]:
df.shape

(48960, 61)

# Initial Data Checking

In [13]:
df['Technical efficiency'].value_counts()

Not Applicable            2245
EIV (5.9 gCO₂/t·nm)        132
EIV (5 gCO₂/t·nm)          104
EIV (3.89 gCO₂/t·nm)       104
EIV (6.3 gCO₂/t·nm)         94
                          ...
EEDI (11.42 gCO₂/t·nm)       1
EIV (25.25 gCO₂/t·nm)        1
EIV (1058 gCO₂/t·nm)         1
16.57 gCO₂/t·nm              1
EEDI (15.07 gCO₂/t·nm)       1
Name: Technical efficiency, Length: 4244, dtype: int64

In [14]:
t = df.loc[1, 'Technical efficiency']

In [15]:
t.split()[1].removeprefix('(')

'57.84'

In [16]:
t.split()[2].removesuffix(')')

'gCO₂/t·nm'

In [17]:
val = df.loc[df[df['IMO Number'] == 9924912].index[0], 'Technical efficiency']
print({'type': val.split()[0], 'gCO₂/t·nm': val.split()[1].removeprefix('(')})

{'type': 'EEDI', 'gCO₂/t·nm': '6.53'}

In [18]:
df['Reporting Period'].value_counts()

2019    12399
2018    12256
2021    12255
2020    12050
Name: Reporting Period, dtype: int64

In [19]:
df['Ship type'].value_counts(dropna=False)

Bulk carrier                  14742
Oil tanker                     7701
Container ship                 7354
Chemical tanker                5469
General cargo ship             4921
Vehicle carrier                1801
Ro-pax ship                    1560
Gas carrier                    1335
LNG carrier                    1024
Ro-ro ship                     1016
Refrigerated cargo carrier      588
Other ship types                561
Passenger ship                  556
Container/ro-ro cargo ship      290
Combination carrier              42
Name: Ship type, dtype: int64

In [101]:
t = df[df['Ship type'] == 'Passenger ship'][['Total fuel consumption [m tonnes]', 'Reporting Period', 'IMO Number']].to_dict(orient='split')

In [107]:
pd.DataFrame.from_dict(data=t['data'])

           0     1        2
0     951.37  2020  6602898
1    1462.78  2020  7304314
2     764.53  2020  7827213
3    2482.97  2020  8201480
4    1110.40  2020  8407735
..       ...   ...      ...
540  2475.85  2021  9857640
541  1020.20  2021  9863194
542   577.39  2021  9865570
543  2924.61  2021  9871529
544  1045.49  2021  9871531

[545 rows x 3 columns]

In [21]:
df['Port of Registry'].value_counts(dropna=False)

Monrovia             5182
Majuro               5064
NaN                  3777
Valletta             3122
Panama               2664
                     ...
Shang Hai               1
Fredericia              1
port louis              1
HONGKKONG               1
Saint -Petersburg       1
Name: Port of Registry, Length: 725, dtype: int64

In [22]:
df['Total fuel consumption [m tonnes]'].value_counts()

0.00        1672
1352.00        6
503.00         5
904.00         5
228.00         4
            ...
2991.39        1
3171.44        1
13063.74       1
2870.05        1
1575.93        1
Name: Total fuel consumption [m tonnes], Length: 44216, dtype: int64

In [23]:
df['Total fuel consumption [m tonnes]'].count()

48960

In [24]:
df['Total CO₂ emissions [m tonnes]'].value_counts()

0.00        1673
5871.53        3
8162.92        3
3583.50        3
2779.00        3
            ...
5357.94        1
4749.38        1
15440.84       1
1387.78        1
4920.05        1
Name: Total CO₂ emissions [m tonnes], Length: 46673, dtype: int64

In [25]:
df['Total CO₂ emissions [m tonnes]'].count()

48960

In [26]:
df['Total time spent at sea [hours]'].value_counts(dropna=False)

NaN        24305
0.00         981
1493.00        6
1495.00        5
2185.00        5
           ...
3932.40        1
5459.40        1
3170.20        1
2175.12        1
776.25         1
Name: Total time spent at sea [hours], Length: 21434, dtype: int64

In [27]:
df['Total time spent at sea [hours]'].count()

24655

In [28]:
df['Annual Time spent at sea [hours]'].value_counts()

0.00       707
1644.00      6
917.00       5
1272.00      5
775.00       5
          ...
2557.13      1
1353.55      1
1479.57      1
5176.10      1
1906.10      1
Name: Annual Time spent at sea [hours], Length: 21023, dtype: int64

In [29]:
df['Total time spent at sea through ice [hours]'].value_counts()

0.00      2787
1.00         2
2.50         2
4.00         2
30.00        1
          ...
106.45       1
223.64       1
18.00        1
61.15        1
66.25        1
Name: Total time spent at sea through ice [hours], Length: 64, dtype: int64

In [30]:
[col for col in df.columns if 'distance' in col]

['Annual average Fuel consumption per distance [kg / n mile]',
 'Annual average CO₂ emissions per distance [kg CO₂ / n mile]',
 'Fuel consumption per distance on laden voyages [kg / n mile]',
 'CO₂ emissions per distance on laden voyages [kg CO₂ / n mile]']

In [31]:
df['Through ice [n miles]'].value_counts()

0.00       2784
92.50         3
20.00         2
38.00         2
15.00         1
           ...
2254.00       1
219.00        1
649.00        1
118.77        1
611.07        1
Name: Through ice [n miles], Length: 66, dtype: int64

In [32]:
df['Annual average Fuel consumption per distance [kg / n mile]'].value_counts()

Division by zero!    1685
87.95                  14
88.31                  14
82.96                  14
80.45                  13
                     ...
78.51                   1
299.89                  1
150.8                   1
184.79                  1
123.55                  1
Name: Annual average Fuel consumption per distance [kg / n mile], Length: 18891, dtype: int64

In [33]:
df['Annual average Fuel consumption per distance [kg / n mile]'].count()

48960

In [34]:
df['Annual average Fuel consumption per transport work (mass) [g / m tonnes · n miles]'].value_counts()

Division by zero!    3803
2.14                  112
1.95                  108
2.47                  108
2.75                  106
                     ...
72.01                   1
126.39                  1
31.13                   1
4712.84                 1
28079.73                1
Name: Annual average Fuel consumption per transport work (mass) [g / m tonnes · n miles], Length: 4602, dtype: int64

In [35]:
df[df['IMO Number'] == 7043843][['Total CO₂ emissions [m tonnes]', 'Reporting Period']]

       Total CO₂ emissions [m tonnes]  Reporting Period
3                             8416.81              2020
12056                        11959.02              2018
24313                        10499.74              2019
36707                         6674.22              2021

## Investigating the zero values for CO2 emissions and fuel consumption
If the values for these two is 0, does this mean that the vessels haven't travelled?

In [36]:
df[df['Total CO₂ emissions [m tonnes]'] == 0.00]['Ship type'].value_counts()

Bulk carrier                  1070
Container ship                 172
Oil tanker                     168
Chemical tanker                 88
General cargo ship              79
Other ship types                39
Gas carrier                     16
Vehicle carrier                 14
Ro-pax ship                      8
LNG carrier                      6
Passenger ship                   5
Refrigerated cargo carrier       5
Ro-ro ship                       3
Name: Ship type, dtype: int64

In [37]:
df[df['Total fuel consumption [m tonnes]'] == 0.00]['Ship type'].value_counts()

Bulk carrier                  1069
Container ship                 172
Oil tanker                     168
Chemical tanker                 88
General cargo ship              79
Other ship types                39
Gas carrier                     16
Vehicle carrier                 14
Ro-pax ship                      8
LNG carrier                      6
Passenger ship                   5
Refrigerated cargo carrier       5
Ro-ro ship                       3
Name: Ship type, dtype: int64

In [38]:
df[df['Total CO₂ emissions [m tonnes]'] == 0.00]['Annual Time spent at sea [hours]'].value_counts(dropna=False)

NaN      976
0.0      696
415.6      1
Name: Annual Time spent at sea [hours], dtype: int64

In [39]:
df[df['Annual Time spent at sea [hours]'] == 0.00]['Ship type'].value_counts()

Bulk carrier          488
Container ship         61
General cargo ship     42
Chemical tanker        34
Oil tanker             31
Other ship types       22
Ro-pax ship             9
Passenger ship          7
Vehicle carrier         5
Ro-ro ship              3
LNG carrier             3
Gas carrier             2
Name: Ship type, dtype: int64

In [43]:
df.columns.to_list()

['IMO Number',
 'Name',
 'Ship type',
 'Reporting Period',
 'Technical efficiency',
 'Port of Registry',
 'Home Port',
 'Ice Class',
 'DoC issue date',
 'DoC expiry date',
 'Verifier Number',
 'Verifier Name',
 'Verifier NAB',
 'Verifier Address',
 'Verifier City',
 'Verifier Accreditation number',
 'Verifier Country',
 'A',
 'B',
 'C',
 'D',
 'Total fuel consumption [m tonnes]',
 'Fuel consumptions assigned to On laden [m tonnes]',
 'Total CO₂ emissions [m tonnes]',
 'CO₂ emissions from all voyages between ports under a MS jurisdiction [m tonnes]',
 'CO₂ emissions from all voyages which departed from ports under a MS jurisdiction [m tonnes]',
 'CO₂ emissions from all voyages to ports under a MS jurisdiction [m tonnes]',
 'CO₂ emissions which occurred within ports under a MS jurisdiction at berth [m tonnes]',
 'CO₂ emissions assigned to Passenger transport [m tonnes]',
 'CO₂ emissions assigned to Freight transport [m tonnes]',
 'CO₂ emissions assigned to On laden [m tonnes]',
 'Annual Time spent at sea [hours]',
 'Annual average Fuel consumption per distance [kg / n mile]',
 'Annual average Fuel consumption per transport work (mass) [g / m tonnes · n miles]',
 'Annual average Fuel consumption per transport work (volume) [g / m³ · n miles]',
 'Annual average Fuel consumption per transport work (dwt) [g / dwt carried · n miles]',
 'Annual average Fuel consumption per transport work (pax) [g / pax · n miles]',
 'Annual average Fuel consumption per transport work (freight) [g / m tonnes · n miles]',
 'Annual average CO₂ emissions per distance [kg CO₂ / n mile]',
 'Annual average CO₂ emissions per transport work (mass) [g CO₂ / m tonnes · n miles]',
 'Annual average CO₂ emissions per transport work (volume) [g CO₂ / m³ · n miles]',
 'Annual average CO₂ emissions per transport work (dwt) [g CO₂ / dwt carried · n miles]',
 'Annual average CO₂ emissions per transport work (pax) [g CO₂ / pax · n miles]',
 'Annual average CO₂ emissions per transport work (freight) [g CO₂ / m tonnes · n miles]',
 'Through ice [n miles]',
 'Time spent at sea [hours]',
 'Total time spent at sea through ice [hours]',
 'Fuel consumption per distance on laden voyages [kg / n mile]',
 'Fuel consumption per transport work (mass) on laden voyages [g / m tonnes · n miles]',
 'Fuel consumption per transport work (volume) on laden voyages [g / m³ · n miles]',
 'Fuel consumption per transport work (dwt) on laden voyages [g / dwt carried · n miles]',
 'Fuel consumption per transport work (pax) on laden voyages [g / pax · n miles]',
 'CO₂ emissions per distance on laden voyages [kg CO₂ / n mile]',
 'CO₂ emissions per transport work (mass) on laden voyages [g CO₂ / m tonnes · n miles]',
 'CO₂ emissions per transport work (volume) on laden voyages [g CO₂ / m³ · n miles]',
 'CO₂ emissions per transport work (dwt) on laden voyages [g CO₂ / dwt carried · n miles]',
 'CO₂ emissions per transport work (pax) on laden voyages [g CO₂ / pax · n miles]',
 'Additional information to facilitate the understanding of the reported average operational energy efficiency indicators',
 'Average density of the cargo transported [m tonnes / m³]',
 'Annual Total time spent at sea [hours]',
 'Total time spent at sea [hours]']

In [44]:
[col for col in df.columns if 'distance' in col]

['Annual average Fuel consumption per distance [kg / n mile]',
 'Annual average CO₂ emissions per distance [kg CO₂ / n mile]',
 'Fuel consumption per distance on laden voyages [kg / n mile]',
 'CO₂ emissions per distance on laden voyages [kg CO₂ / n mile]']

## Calculating how many miles the vessels travelled

In [72]:
df = df.drop(df[df['Annual average Fuel consumption per distance [kg / n mile]'] == 'Division by zero!'].index)

In [76]:
df['Annual average Fuel consumption per distance [kg / n mile]'] = df['Annual averx§age Fuel consumption per distance [kg / n mile]'].astype('float')

In [90]:
total_by_ship = df.groupby(['Ship type'])['Total fuel consumption [m tonnes]'].sum().reset_index()

In [91]:
average_by_ship = df.groupby(['Ship type'])['Annual average Fuel consumption per distance [kg / n mile]'].sum().reset_index()

In [93]:
miles = total_by_ship.merge(average_by_ship, on='Ship type', how='inner')

In [94]:
miles

,Ship type,Total fuel consumption [m tonnes],Annual average Fuel consumption per distance [kg / n mile]
0,Bulk carrier,21334727.08,1495437.87
1,Chemical tanker,11813648.35,545235.49
2,Combination carrier,122343.35,4319.47
3,Container ship,55183805.61,1482503.05
4,Container/ro-ro cargo ship,1850414.32,36905.45
5,Gas carrier,3491625.06,136705.23
6,General cargo ship,8175171.64,305872.49
7,LNG carrier,9945640.19,303361.10
8,Oil tanker,23593032.49,1799108.18
9,Other ship types,1467551.87,57519.37
10,Passenger ship,5489357.27,183388.20
11,Refrigerated cargo carrier,2070210.44,50690.81
12,Ro-pax ship,17492158.53,253228.32
13,Ro-ro ship,7414949.50,111158.64
14,Vehicle carrier,5818118.47,201478.33

In [95]:
miles['total_distance'] = miles['Annual average Fuel consumption per distance [kg / n mile]'] / miles['Total fuel consumption [m tonnes]']

In [ ]:
val = df.loc[df[df["IMO Number"] == ship_id].index[0], "Technical efficiency"]
  data = {"type": val.split()[0], "gCO₂/t·nm": val.split()[1].removeprefix("(")}

In [116]:
df['Technical efficiency'].str.split()

['EIV', '(31.73', 'gCO₂/t·nm)']